updateservice-ws/src/wsdl/forsrights/forsrights.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:fr="http://oss.dbc.dk/ns/forsrights" xmlns:frw="http://oss.dbc.dk/ns/forsrights_wsdl" targetNamespace="http://oss.dbc.dk/ns/forsrights_wsdl">
	<wsdl:documentation>
Copyright (c) 2013, Dansk Bibliotekscenter a/s,  Tempovej 7-11, DK-2750 Ballerup, Denmark. CVR: 15149043
	</wsdl:documentation>
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
			<xs:import namespace="http://oss.dbc.dk/ns/forsrights" schemaLocation="forsrights.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="forsRightsRequest">
		<wsdl:part name="body" element="fr:forsRightsRequest"/>
	</wsdl:message>
	<wsdl:message name="forsRightsResponse">
		<wsdl:part name="body" element="fr:forsRightsResponse"/>
	</wsdl:message>
	<wsdl:message name="libraryListFromServiceNameRequest">
		<wsdl:part name="body" element="fr:libraryListFromServiceNameRequest"/>
	</wsdl:message>
	<wsdl:message name="libraryListFromServiceNameResponse">
		<wsdl:part name="body" element="fr:libraryListFromServiceNameResponse"/>
	</wsdl:message>
	<wsdl:message name="libraryListFromNavisionNameRequest">
		<wsdl:part name="body" element="fr:libraryListFromNavisionNameRequest"/>
	</wsdl:message>
	<wsdl:message name="libraryListFromNavisionNameResponse">
		<wsdl:part name="body" element="fr:libraryListFromNavisionNameResponse"/>
	</wsdl:message>
	<wsdl:portType name="forsRightsPortType">
		<wsdl:operation name="forsRights">
			<wsdl:input message="frw:forsRightsRequest"/>
			<wsdl:output message="frw:forsRightsResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="libraryListFromServiceNamePortType">
		<wsdl:operation name="libraryListFromServiceName">
			<wsdl:input message="frw:libraryListFromServiceNameRequest"/>
			<wsdl:output message="frw:libraryListFromServiceNameResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="libraryListFromNavisionNamePortType">
		<wsdl:operation name="libraryListFromNavisionName">
			<wsdl:input message="frw:libraryListFromNavisionNameRequest"/>
			<wsdl:output message="frw:libraryListFromNavisionNameResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="forsRightsBinding" type="frw:forsRightsPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="forsRights">
			<soap:operation soapAction="http://forsrights.addi.dk"/>
			<wsdl:input name="forsRightsRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="forsRightsResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="libraryListFromServiceNameBinding" type="frw:libraryListFromServiceNamePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="libraryListFromServiceName">
			<soap:operation soapAction="http://forsrights.addi.dk"/>
			<wsdl:input name="libraryListFromServiceNameRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="libraryListFromServiceNameResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="libraryListFromNavisionNameBinding" type="frw:libraryListFromNavisionNamePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="libraryListFromNavisionName">
			<soap:operation soapAction="http://forsrights.addi.dk"/>
			<wsdl:input name="libraryListFromNavisionNameRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="libraryListFromNavisionNameResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="forsRightsService">
		<wsdl:port binding="frw:forsRightsBinding" name="forsRightsPortType">
			<soap:address location="http://forsrights.addi.dk/1.2/"/>
		</wsdl:port>
		<wsdl:port binding="frw:libraryListFromServiceNameBinding" name="libraryListFromServiceNamePortType">
			<soap:address location="http://forsrights.addi.dk/1.2/"/>
		</wsdl:port>
		<wsdl:port binding="frw:libraryListFromNavisionNameBinding" name="libraryListFromNavisionNamePortType">
			<soap:address location="http://forsrights.addi.dk/1.2/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
